<div class="row bg-warning">
    <div class="col">
        <div class="text-left pt-2">เรียกพนักงาน</div>
    </div>
    <div class="col">
        <div class="text-right">0 รายการบริการ <span class="material-icons"> done</span></div>
    </div>
</div>
<div class="row">
    <div class="input-group">
        <div class="input-group-prepend">
        </div>
        <select class="custom-select" id="inputGroupSelect01">
                    <option selected>ตามอาหาร</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
    </div>
</div>
<div class="row">
    <div class="input-group ">
        <div class="input-group-prepend">
        </div>
        <select class="custom-select" id="inputGroupSelect01">
                    <option selected>บริการ</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
    </div>
</div>
<div class="row">
    <div class="input-group ">
        <div class="input-group-prepend">
        </div>
        <select class="custom-select" id="inputGroupSelect01">
                    <option selected>อื่นๆ</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
    </div>
</div>

<p class="text-center">หรือ</p>


<button type="button" class="btn btn-outline-warning btn-center">
    <span class="material-icons"> notifications_none เรียกพนักงานทันที</span>
</button>