.text-left {
    padding-top: 4px;
    padding-left: 5px;
}

.btn {
    width: 100px;
    font-size: 10px;
}

.btn-trolly {
    width: auto;
}

.modal-header {
    background-color: rgb(104, 100, 104);
    color: white;
    height: 50px;
    padding-bottom: 40px;
}

.modal-body {
    background-color: rgb(82, 77, 82);
    color: white;
}

.modal-footer {
    background-color: rgb(82, 77, 82);
    color: white;
}

.fromcontrol {
    width: 30px;
    height: 30px;
}

.btn-delete {
    width: 50px;
    height: 40px;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 20px;
}

.btn-plus {
    width: 50px;
    height: 40px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.icons-delete {
    text-align: center;
}

.card {
    border: none;
}