<ul class="nav justify-content-center fixed-bottom bg-warning ">
  <li class="nav-item">
    <span class="material-icons icon-menu ">restaurant
      <br> <a class="nav-link" [routerLink]="['/menu']" href="#">เมนู</a>
    </span>
   
  </li>
  <li class="nav-item">
    <span class="material-icons icon-order"> format_list_bulleted
      <br><a class="nav-link " [routerLink]="['/order']" href="#">รายการที่สั่ง</a>
       </span>
    
  </li>
  <li class="nav-item">
    <span class="material-icons icon-service"> notifications
      <br><a class="nav-link" [routerLink]="['/service']" href="#">เรียกพนักงาน</a>
    </span>
    
   
  </li>
  <li class="nav-item">
    <span class="material-icons icon-bill">assignment_turned_in 
      <br><a class="nav-link " [routerLink]="['/bill']" href="#">ชำระเงิน</a>
    </span>
    
  </li>
</ul>

<router-outlet></router-outlet>