
.nav-link{
    color: black;
}
.icon-menu{
    margin-top: 10px;
    color: black;
    font-size: 16px;
    text-align: center;
}
.icon-order{
    margin-top: 10px;
    color: black;
    font-size: 16px;
    text-align: center;
}
.icon-service{
    margin-top: 10px;
    color: black;
    font-size: 16px;
    text-align: center;
}
.icon-bill{
    margin-top: 10px;
    color: black;
    font-size: 16px;
    text-align: center;
}