<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <div class="col">
                    <button type="button" class="btn btn-outline-warning mt-2 ">
                        <span class="material-icons"> arrow_back</span>
                    </button>
                </div>
            </div>
            <div class="col">
                <span class="material-icons mt-3"> living โต๊ะ</span>
            </div>
            <div class="col">
                <button type="button" class="btn btn-outline-warning mt-2">
                    <span class="material-icons"> local_grocery_store </span>
                </button>

            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row bg-warning">
            <div class="col-6">
                <div class="text-left" style="color: black; ">ชำระเงิน</div>
            </div>
            <div class="col-6">
                <div class="text-right"><button type="button" class="btn btn-success">เพิ่มเติม</button></div>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <h1 class="text-center">
                    ..............................</h1>
                <h1 class="text-center">ร้านอาหารซาวสี่ขอนแก่นคาเฟ่แอนเรสเตอรองท์</h1>
                <p class="text-center">โต๊ะ ...</p>
                <p class="text-center">13 มกราคม 2022</p>
               
                <div class="row ">
                    <table class="table" style="color: wheat;">
                        <thead>
                          <tr>
                            <th scope="col" class="text-left">รายการ</th>
                            <th scope="col" class="text-center">จำนวน</th>
                            <th scope="col" class="text-right">ราคา</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="text-left">Mark</td>
                            <td class="text-center">Otto</td>
                            <td class="text-right">@mdo</td>
                          </tr>
                          <tr>
                            <td class="text-left">Jacob</td>
                            <td class="text-center">Thornton</td>
                            <td class="text-right">@mdo</td>
                          </tr>
                          <tr>
                            <td class="text-left">Larry</td>
                            <td class="text-center">the Bird</td>
                            <td class="text-right">@mdo</td>
                          </tr>
                        </tbody>
                      </table>
                      <h1 class="text-center">
                        ..............................................</h1>
                       <div class="row">
                           <div class="col"><p class="text-left" style="padding-left: 0;">รวมมุลค่าทั้งสิ้น :</p></div>
                           <div class="col"><p class="text-right " style="padding-right: 0;"> 00000</p></div>
                       </div>
                       <h1 class="text-center">
                        .............................................</h1>
                        <button type="button" class="btn btn-outline-warning btn-center">ชำระเงินทันที</button>
                </div>
            </div>
            <div class="col"></div>



        </div>

    </div>
</div>