.card-header {
    background-color: rgb(104, 100, 104);
    text-align: center;
}

.card {
    border: none;
}

.card-body {
    background-color: rgb(82, 77, 82);
    height: 760px;
}

.card-title {
    background-color: rgb(255, 115, 0);
    text-align: left;
    font-size: 20px;
}

.text-left {
    padding-left: 10px;
    margin-top: 10px;
    color: wheat;
}

.text-center {
    color: wheat;
}

.text-right {
    margin-left: 160px;
    color: wheat;
}

.text-vat {
    margin-left: 80px;
}

.text-all {
    padding-left: 10px;
}

.text-allamount {
    margin-left: 190px;
    color: #000;
}

.text-color {
    color: #000;
}

.btn-add {
    width: 80px;
    height: 30px;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
}

.btn-center {
    text-align: center;
    margin-left: 85px;
}

.btn-pay {
    text-align: center;
    width: 100%;
}

.modal-header {
    background-color: rgb(104, 100, 104);
    color: white;
    height: 50px;
    padding-bottom: 40px;
}

.modal-title {
    color: #000;
}

.modal-body {
    background-color: rgb(82, 77, 82);
    color: white;
}

.modal-footer {
    background-color: rgb(82, 77, 82);
    color: white;
}