<div class="row bg-warning">
    <div class="col">
        <div class="text-left text-color">ชำระเงิน</div>
    </div>
    <div class="col">
        <div class="text-right"><button type="button" class="btn btn-success btn-add" data-toggle="modal" data-target="#exampleModal">
                    เพิ่มเติม
                  </button></div>
    </div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col">
        <h1 class="text-center mt-4">ร้านอาหารซาวสี่ขอนแก่นคาเฟ่แอนเรสเตอรองท์</h1>
        <p class="text-center">โต๊ะ ...</p>
        <p class="text-center">13 มกราคม 2022</p>

        <div class="row ">
            <table class="table" style="color: wheat;">
                <thead>
                    <tr>
                        <th scope="col" class="text-left">รายการ</th>
                        <th scope="col" class="text-center">จำนวน</th>
                        <th scope="col" class="text-right">ราคา</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-left">Mark</td>
                        <td class="text-center">Otto</td>
                        <td class="text-right">@mdo</td>
                    </tr>
                    <tr>
                        <td class="text-left">Jacob</td>
                        <td class="text-center">Thornton</td>
                        <td class="text-right">@mdo</td>
                    </tr>
                    <tr>
                        <td class="text-left">Larry</td>
                        <td class="text-center">the Bird</td>
                        <td class="text-right">@mdo</td>
                    </tr>
                </tbody>
            </table>
            <h1 class="text-center">
                ..............................................</h1>
            <div class="row">
                <a class="text-left">รวมมุลค่าก่อนภาษีมูลค่าเพิ่ม :</a>
                <a class="text-right text-vat "> 00000</a>
            </div>
            <div class="row">
                <a class="text-left">ภาษีมูลค่าเพิ่ม :</a>
                <a class="text-right "> 00000</a>
            </div>
            <div class="row bg-warning mt-1  pt-1">
                <a class="text-all text-color">รวมทั้งสิ้น :</a>
                <a class="text-allamount"> 00000</a>
            </div>
            <h1 class="text-center">
                ..............................................</h1>
            <button type="button" class="btn btn-outline-warning btn-center">ชำระเงินทันที</button>
        </div>
    </div>
    <div class="col"></div>
</div>
<!-- Modal เพิ่มเติม-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">การชำระเงิน</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <h2 class="text-center ">วิธีชำระเงิน</h2>
                <div class="row"><button type="button" class="btn btn-warning btn-pay mb-3">ชำระเงินทันที</button></div>
                <div class="row"> <button type="button" class="btn btn-warning btn-pay mb-3">ชำระเงินและขอใบเสร็จ</button></div>
                <div class="row"> <button type="button" class="btn btn-warning btn-pay ">ชำระเงิน และออกใบกำกับภาษี</button></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-pay" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>